a.menu-nav__trigger(href="#")
  ul.menu-nav__hamburger
    li.menu-nav__hamburger-item
    li.menu-nav__hamburger-item
    li.menu-nav__hamburger-item

.slide.slide--menu
  .slide__content
    ul.menu__nav
      each slide, index in file.slides
        li.menu__nav-item
          a.menu__nav-anchor(href="##{index}")
            if slide.menuItem
              span !{slide.menuItem}
  if file.menu.backgroundImg && file.menu.gradient
    .slide-background.slide-background__image.slide-background__gradient(style="background-image: url("+ file.menu.backgroundImg +");" data-gradient=file.menu.gradient)
  if file.menu.backgroundImg && !file.menu.gradient
    .slide-background.slide-background__image(style="background-image: url("+ file.menu.backgroundImg +");")
  if file.menu.backgroundColor
    .slide-background.slide-background__color(style="background-color: "+ file.menu.backgroundColor +";")
