.menu-nav__trigger
  display: inline-block
  position: fixed
  top: 7px
  left: 15px
  z-index: 10
  padding: 7px
  background-color: $color-white

  @media #{$small-only}
    top: 0
    left: 5px

.menu-nav__hamburger
  list-style-type: none
  margin: 0
  padding: 0

  .menu-nav__hamburger-item
    position: relative
    top: 0
    width: 26px
    height: 3px
    margin-top: 7px
    background-color: $color-grey
    transition: opacity .3s .4s ease

    &:first-child,
    &:last-child
      transition: top .5s .4s ease, transform .4s ease

.menu-nav__trigger--active
  .menu-nav__hamburger
    .menu-nav__hamburger-item
      opacity: 0

      &:first-child,
      &:last-child
        opacity: 1
        transition: top .4s ease, transform .5s .4s ease

      &:first-child
        top: 10px
        transform: rotate(45deg)

      &:last-child
        top: -10px
        transform: rotate(-45deg)

.menu__nav
  list-style-type: none
  margin: 0
  padding: 2em 0

.menu__nav-item
  color: $color-white

a.menu__nav-anchor
  font-size: 30px
  font-weight: 400
  color: $color-white
  text-decoration: none
  display: inline-block
  line-height: 1.5em

  &:before
    content: none

  strong
    line-height: 3em
